::selection{
text-shadow: none;
background: #0D506E;
color: #fff;
}
*{
  font-family:"Lora";
}
.maincontainer{
  width:100%;
}
.toptext{
  width:30%;
  margin:auto;
}
.toptext h1{
  margin-top:2rem;
  margin-bottom: 0.5em;
}
.toptext p{
  font-size:1.1rem;
}
.text-boxes{
  height: 165px;
  width: 50%;
  margin:auto;
}
.boxrow{
  display:flex;
  justify-content: center

}
.tboxlink{
  text-decoration: none;
    flex-basis: 50%;
}
.textwrapper:hover{
background-color:#0D506E;
color:white;
transition:0.3s;
}
.text-boxes{
  display:flex;
  flex-direction:column;
}
.textwrapper p{
  margin:0;
  margin-top:5px;
}
.textwrapper h5{
  font-size:1.25rem;
  margin:0;
  margin-bottom:5px;
}
.textwrapper{
  padding:35px;
  display:block;
}
.tboxes{
  margin:10px;
  border: 1px solid #DEDEDE;
  color:black;
}
.text-boxes{
  margin-bottom:40px;
}
@media (max-width:1024px){
  .toptext{
    width:90%;
  }
  .boxrow{
    flex-direction:column;
  }
  .text-boxes{
  width:100%;
  }
  .toptext h1{
    font-size:24px;
  }
  .toptext p{
    font-size:16px;
  }
}
@media only screen
  and (min-width: 1024px)
  and (max-height: 1366px)
  and (orientation: landscape)
  and (-webkit-min-device-pixel-ratio: 1.5) {
    .toptext{
      width:65%;
    }
    .boxrow{
      flex-direction:column;
    }
    .text-boxes{
    width:75%;
    }
    .toptext h1{
      font-size:36px;
    }
    .toptext p{
      font-size:24px;
    }
}

footer{
   margin-top: auto;
   width:100%;
    margin-bottom: 0;
    padding-bottom: 0;
    overflow: hidden;
    
   
}
footer a{
    text-decoration: none;
}
.content{
    display: flex;
    margin-left: 270px;
   align-items: center;
   overflow: hidden;
}
.left{
    font-size: 15px;
   
    
}
.left p{
    font-weight: 700;
}

.right{
    margin-left: 80px;
    width: 15%;
    height: 75%;
    margin-bottom: 0px;
}
.right img{
    width: 75%;
    height: 75%;
}

@media screen and (max-width: 900px) {
    .content{
        margin-left: 0;
        
    }
    .right{
        width: 75%;
        margin-left:2;
    }

    .left{
        font-size: 95%;

    }

}
