*{
  box-sizing:border-box;
  margin:0;
  padding:0;

font-family: 'Lora', serif;
}
.nav-contain{
  padding-top:24px;
  padding-bottom:24px;
  width:100%;
  background-color:#c1c1c1;
}
.left{
  padding-top:3%;
  padding-left:8%;
}
#logo{
  justify-self:start;
  margin-left:20px;
  height:40%;
  width:auto;
  cursor:pointer;
}
.navbar{
font-size: 24px;
  display:grid;
  grid-template-columns: 0.2fr auto 1fr;
  align-items:center;
  height:80px;
  width:70%;
  max-width:1720px;
  margin: 0 auto;
}
.nav-menu{
  display:grid;
  grid-template-columns: repeat(5,auto);
list-style:none;
text-align:center;
width:70%;
justify-self:end;
}
.nav-links{
  position:relative;
  color:white;
  text-decoration:none;
}
.nav-links:before{
  content:"";
  position: absolute;
 width: 100%;
 height: 2px;
 bottom: 0;
 left: 0;
 background-color: #FFF;
 visibility: hidden;
 transform: scaleX(0);
 transition: all 0.3s ease-in-out;
}
a.nav-links:hover:before {
  visibility: visible;
  transform: scaleX(1);
}
.nav-btn{
  color:white;
  text-decoration:none;
  background-color:#ad131d;
  padding:8px 16px;
  border-radius:4px;
  box-shadow: 0 6px 2px -2px #781016;
}
.nav-btn:hover{
  background-color:#9c111a;
  color:white;
  padding:5px 15px;
  border-radius:4px;
  border: solid 1px #ad131d;
  transition: all 0.3s ease-out;
}
.menu-tog .bar{
  width:25px;
  height:3px;
  margin:5px auto;
  transition: all 0.3s ease-in-out;
  background:white;
}
.ptitle{
  text-transform: uppercase;
  color:white;
  letter-spacing: 0.2rem;
  font-size:1rem;
}
.part1{
  background-color:#c1c1c1;
}
.left{
  width:80%;
  margin:auto;
}
.pdesc{
  color:white;
  width:50%;
  margin-top: 1%;
font-size:2.75rem;
padding-bottom:4%;
}
.main_text_wrapper{
background-color: #e6e6e6;
padding-top:3rem;
padding-bottom:3rem;
}
.main_text_box{
  background-color: white;

width:62.5%;
margin:auto;
box-shadow: 0 4px 6px -1px rgb(0 0 0 / 10%), 0 2px 4px -1px rgb(0 0 0 / 6%);
}
.main_text_top{
  display:flex;
  flex-direction: row;
  justify-content:space-between;
  width:60%;
  margin:auto;
}
.top_image{
  width:calc(100%/3);
  text-align:center;
}
.top_image img{
padding:25px;
  margin:auto;
  height: 240px;
    width: 240px;
  border-radius: 50%;
}
.top_names{
  padding:8px;
  font-weight:900;
  font-size:1.1rem;
}
.top_desc{
  padding:6px;
  opacity:0.6;
}
.main_text_bottom{
  padding-top:36px;
  width:62.5%;
  padding-bottom:48px;
  margin:auto;
}
.main_text{
  padding-top:2%;
}
.main_title{
  font-size:1.66rem;
}
.main_words{
  padding-top:3%;
  font-size:1.25rem;
  line-height:36px;
}
.footer{
padding-top:24px;
padding-bottom:24px;
  background-color:#c1c1c1;
}
.footer-text{
  text-align:center;
}
.footer-text p{
  color:white;
}
.footer-text a{
  color:white;
}
@media screen and (max-width:768px){
  .nav-contain{
    position:relative;
    display:block;
  }
  .nav-menu{
    display:grid;
    grid-template-columns: auto;
    background:#c1c1c1;
    margin:0;
    width:100%;
    position:absolute;
  top:20vmax;
    left:-100%;
    transition: all 0.5s ease;
  }
  .nav-menu.active{
    background:#c1c1c1;
    left:0;
    opacity:1;
    transition: all 0.5s ease;
  }
  .nav-links{
    text-align:center;
    line-height:90px;
    width:100%;
    display:table;
  }

  .nav-links:hover{
    background-color:#c1c1c1;
    color:white;
    transition: all 0.4s ease-out;
  }
.navbar{
  width:100%;
}
.nav-btn{
  line-height:80px;
  border:none;
  padding:0;
  border-radius:0;
  box-shadow: none;
  background-color:#c1c1c1;
}
.nav-btn:hover{
  border:none;

  border-radius:0;
  box-shadow: none;
  background-color:#c1c1c1;
}
#mobile-menu{
  position:absolute;
  top:20%;
  right:5%;
  transform:translate(5%,20%);
}
.menu-tog .bar{
  display:block;
  cursor:pointer;
}
.menu-tog:hover{
  cursor:pointer;
}
#mobile-menu.is-active .bar:nth-child(2){
  opacity:0;
}
#mobile-menu.is-active .bar:nth-child(1){
  transform:translateY(8px) rotate(45deg);
}
#mobile-menu.is-active .bar:nth-child(3){
  transform:translateY(-8px) rotate(-45deg);
}
.nav-contain{
  height:20vmax;
}
.main_text_wrapper{
  padding:0;
}
.main_text_box{
  width:100%;
}
.main_text_top{
  flex-direction: column;
  width:100%;
}
.top_image{
  width:100%;
}
.main_text_bottom{
  width:90%;
}
.main_text{
  padding-top:40px;
}
.main_words{
  padding-top:25px;
}
.left{
  width:100%;
}
.pdesc{
  width:100%;
  padding-bottom:45px;
}
}
@media all and (device-width: 768px) and (device-height: 1024px) and (orientation:portrait) {
.main_text_top{
  flex-direction:row;
  padding-top:56px;
}
}
@media all and (device-width: 1024px) and (device-height: 768px) and (orientation:landscape) {
.main_text_top{
  width:90%;
}
.top_image{
  width:100%;
}
.main_text_box{
  width:80%;
}
.main_text_bottom{
  width:75%;
}
.navbar{
  width:100%;
}
.nav-menu{
  width:85%;
}
.pdesc{
  width:75%;
}
}
@media only screen
  and (min-width: 1024px)
  and (max-height: 1366px)
  and (orientation: portrait)
  and (-webkit-min-device-pixel-ratio: 1.5) {
    .main_text_top{
      flex-direction:row;
      padding-top:56px;
      width:80%;
    }
    .navbar{
      width:100%;
    }
    .nav-menu{
      width:85%;
    }
    .pdesc{
      width:75%;
    }
    .main_text_box{
      width:85%;
    }

}
@media only screen
  and (min-width: 1024px)
  and (max-height: 1366px)
  and (orientation: landscape)
  and (-webkit-min-device-pixel-ratio: 1.5) {
    .main_text_top{
      width:90%;
    }
    .top_image{
      width:100%;
    }
    .main_text_box{
      width:80%;
    }
    .main_text_bottom{
      width:75%;
    }
    .navbar{
      width:100%;
    }
    .nav-menu{
      width:85%;
    }
    .pdesc{
      width:75%;
    }
}
@media only screen
  and (min-width: 823px)
  and (max-height: 411px)
  and (orientation: landscape)
  and (-webkit-min-device-pixel-ratio: 1.5) {
    .main_text_top{
      width:90%;
    }
    .top_image{
      width:100%;
    }
    .main_text_box{
      width:80%;
    }
    .main_text_bottom{
      width:75%;
    }
    .navbar{
      width:100%;
    }
    .nav-menu{
      width:96%;
    }
    .pdesc{
      width:75%;
    }
}
@media only screen
  and (min-width: 812px)
  and (max-height: 375px)
  and (orientation: landscape)
  and (-webkit-min-device-pixel-ratio: 1.5) {

    .navbar{
      width:100%;
    }
    .nav-menu{
      width:96%;
    }
  }
